#archives
    position relative
    top 100px
    margin auto
    padding 20px

    a, .tag-icon
        color label-font
        text-decoration none

    .tags
        margin-left 20px

        .tag
            margin-right 10px

    h3
        margin 10px 0

    .item-time
        color label-font
    .post-title-variants
        margin 10px 0

        .post-title-variant
            display block
            width fit-content

            &.primary
                color posts-title
                text-decoration none

            &.secondary
                color #888888
                text-decoration underline
                font-size 14px
                margin-top 4px

        h3
            margin 0

        .alternate-title
            line-height 1.5